:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-orange: #fd7e14;
  --bs-pink: #d63384;
  --bs-brown: #a52a2a;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-light-cyan: #d0ebff;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MTD", serif;
}

header {
  width: 82%;
  height: 70px;
  left: 18%;
  text-align: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  /* tạo kiểu khung viền: */
  background-color: var(--bs-light-cyan);
  box-shadow: -10px -3px 10px rgba(0, 0, 0, 0.6);
  z-index: 200;
}

/* NAV-BAR CONTAINER */
nav {
  max-width: 16%;
  height: 100%;
  top: 0;
  text-align: center;
  position: fixed;
  background-color: var(--bs-gray-200);
  overflow-y: scroll;
  overflow-x: hidden;
}

nav > i {
  display: flex;
  flex-direction: column;
}
/*  */

h5 {
  box-shadow: 0 10px 50px #f48686;
}
.btn-info {
  color: #fff;
}

nav ul li {
  box-shadow: 0 0 10px #c8f8a8;
}

/* ẢNH CV*/
.img-info {
  max-width: 100%;
  height: auto;
}

.information {
  width: 80%;
  margin: 0 auto;
  background-color: var(--bs-gray-500);
  border: 1px dotted brown;
  border-radius: 20px;
}
.information a {
  font-size: small;
}

.icon-small {
  font-size: 25px;
}

hr {
  width: 112%;
}

/* CONTENTS CONTAINER */
main {
  line-height: 1.6;
  height: 100vh;
  width: fit-content;
}

section {
  height: 100vh;
  color: var(--bs-indigo);
  padding-top: 30px;
  padding-bottom: 20px;
  margin-top: 70px;
  margin-left: 20%;
}

.img-row {
  max-width: 10%;
  height: auto;
  display: inline-block;
}

/* ẩn phần tử nhưng vẫn giữ khoảng không gian của nó (kiểm tra trên web cũng k có) */
.img-html {
  visibility: hidden;
}

.icon {
  font-size: 3em;
  display: inline;
}

.note {
  display: inline;
  font-size: xx-large;
}

a {
  margin: 0 7px;
}

a:link {
  /* bỏ gạch chân dưới đường liên kết */
  text-decoration: none;
}

a:visited {
  /* tạo màu kiểu chữ khi đã bấm vào */
  color: var(--bs-brown);
}

/* tạo lớp giả với cấu trúc :thuộc tính */
a.highlight:hover {
  /* tạo màu và kiểu chữ khi con trỏ chuột lướt qua */
  color: var(--bs-danger);
  /* font-size: 25px; */
  font-weight: bolder;
  /* tạo các điểm nhấn kèm theo: hiển thị gạch chân, theo kiểu nào và màu gì */
  text-decoration: underline dotted red;
}

a:active {
  background-color: var(--bs-indigo);
  font-style: italic;
}
/* => nguyên tắc cơ bản xây dựng lớp class: LVHA ( link, vissited, hove, active */
/* thứ tự ưu tiên trong CSS: !important (ghim là quan trọng), inline, id, class, tag. LƯU Ý: HẠN CHẾ DÙNG !IMPORTANT VÌ DỄ XẢY RA SAI SÓT VÀ NHIỀU LỚP CHỒNG LÊN NHAU*/

/* Z-INDEX */
.ex_6-1 {
  margin: 30px 0;
  position: relative;
  z-index: 10;
}

.ex_6-1 p {
  display: inline-block;
  top: -45px;
}
.ex_6-2 {
  margin-bottom: 100px;
  position: relative;
  z-index: 20;
}

.ex_6 p {
  display: inline-block;
}

.color_ex {
  width: 100px;
  height: 100px;
  border: 4px solid black;
}

.color_red {
  background-color: red;
}
.color_blue {
  background-color: blue;
  margin-left: 30px;
  margin-top: -50px;
  position: relative;
  z-index: 100; /* được hiểu giá trị là 10.100*/
}
.color_orange {
  background-color: orange;
  margin-top: -60px;
  margin-left: 60px;
  transform: rotateZ(45deg);
}
.color_gray {
  background-color: gray;
  z-index: 10; /* được hiểu giá trị là 20.10*/
  margin-top: -200px;
  margin-left: 75px;
}
/* FLOAT ==> trình bày content trái, phải, giữa vất vả*/
.colors {
  background-color: var(--bs-light-cyan);
  width: 200px;
  height: 30px;
}

.color {
  background-color: var(--bs-dark);
  height: 22px;
  width: 22px;
  float: left;
  display: inline;
  margin: 4px 5px;
}

/* Xóa hiệu ứng float với phần tử sau */
.option {
  clear: both;
  margin: 20px 10px;
}
/* FLEX-BOX ==> trình bày content hiệu quả*/

/* - Điều chỉnh width của 1 flex item với FLEX-BASIS
- FLEX-SHRINK: giúp ta cho phép các item cần vừa vặn và nằm trong container
- FLEX-GROW: giúp ta sử dụng khoảng trống còn lại trong container để chia sẻ với các item */

.colors-1 {
  width: 200px;
  height: 30px;
  background-color: var(--bs-light);
  display: flex;
  /* ==> căn chỉnh content center */
  align-items: center;
  justify-content: space-evenly;
}
.bla {
  width: 20px;
  height: 20px;
  background-color: var(--bs-dark);
}

.bl {
  background-color: var(--bs-dark);
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.color-red {
  background-color: var(--bs-danger);
}

.color-blue {
  background-color: var(--bs-blue);
}

.color-green {
  background-color: var(--bs-green);
}

.color-yellow {
  background-color: var(--bs-yellow);
}

.color-brown {
  background-color: var(--bs-brown);
}

.form {
  max-width: 250px;
  border: 1px solid black;
  border-radius: 5px;
}

/* đưa ảnh vào vị trí mong muốn */
/* .img-ex{
        position: absolute;
        left: 600px;
        top: 0px;

        vị trí hiển thị: trên hoặc dưới phần tử khác
        z-index: -1;
} */

/* tạo box text-content có thanh cuộn */
.box-text {
  width: 500px;
  height: 500px;
  overflow-y: scroll;
  margin: 20px auto;
  border: 3px solid blue;
  overflow-x: hidden;
}
/* xóa hình mũi tên 2 đầu thanh cuộn và định hình lại thanh cuộn:
  - Ẩn thanh cuộn */
::-webkit-scrollbar {
  width: 10px;
}
/* - Hiện thanh cuộn + chọn màu sắc */
::-webkit-scrollbar-thumb {
  background-color: rgb(168, 156, 156);
}

/* CÁCH SỬ DỤNG @MEDIA ==> ỨNG DỤNG thực tế khi xem nội dung trên thiết bị với màn hình nào sẽ được trình bày theo loại tương ứng như: máy tính, máy tính bảng hay điện thoại*/
.wrapper {
  overflow: auto;
  border: 1px solid blue;
  border-radius: 5px;
  width: 810px;
}

#main {
  margin-left: 4px;
}

#leftsidebar {
  float: none;
  width: auto;
}

#menulist {
  margin: 0;
  padding: 0;
}

.menuitem {
  background: var(--bs-light-cyan);
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  list-style-type: none;
  margin: 4px;
  padding: 2px;
}

@media screen and (min-width: 800px) {
  #leftsidebar {
    width: 200px;
    float: left;
  }
  #main {
    margin-left: 216px;
  }
}

.note-flex {
  /* width: 50%; */
  border: 3px solid blue;
  border-radius: 20px;
  padding-bottom: 30px;

  /* căn chỉnh sang 2 bên */
  margin-left: 30%;
  margin-right: 10%;
}

h3 {
  text-decoration: underline;
  font-style: italic;
}

.grid-img {
  width: 70%;
  height: auto;
  border-radius: 5%;
  border: 5px solid brown;
}

/* Cách tạo hoạt ảnh - Animation */
.animation {
  width: 100px;
  height: auto;
  text-align: center;
  background-color: red;
  color: var(--bs-white);

  /* đặt position:relative để hoạt ảnh chạy chuyển động.
    - Nếu k đặt lệnh hoạt ảnh đứng tại chỗ.
    - Nếu đặt position:absolute sẽ k có hiệu ứng gì xảy ra, và ảnh sẽ biến mất sau số giây đã đặt*/
  position: relative;

  /* gán tên của trường muốn tạo hiệu ứng tại @keyframes */
  animation-name: myfirst;

  /* time run */
  animation-duration: 5s;

  /* type run:*/
  animation-timing-function: linear;

  /* độ trễ để bắt đầu */
  animation-delay: 2s;

  /* số lần chạy hoạt ảnh */
  animation-iteration-count: infinite;

  /* đổi chiều vòng chạy hoạt ảnh */
  animation-direction: alternate;
}

.footer {
  width: 105%;
  height: 30px;
  background-color: var(--bs-light-cyan);
  margin-left: -5%;
  color: var(--bs-dark);
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 16px;
  font-style: italic;
  color: var(--bs-brown);
}

footer a {
  width: 50px;
  align-self: end;
  border-radius: 50%;
}

.comback {
  color: var(--bs-light);
  width: 24px;
  height: 24px;
}

/* thông số left - right có tác dụng đưa hiệu ứng chạy đến đó */
@keyframes myfirst {
  0% {
    background-color: var(--bs-danger);
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: var(--bs-yellow);
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: var(--bs-blue);
    left: 200px;
    top: 50px;
  }
  75% {
    background-color: var(--bs-green);
    left: 0px;
    top: 50px;
  }
  100% {
    background-color: var(--bs-danger);
    left: 0px;
    top: 0px;
  }
}

@media screen and (min-width: 600px) and (max-width: 992px) {
  header {
    max-width: 80%;
  }

  main {
    max-width: 100%;
  }
}

/* DORAEMON */

.doraemon {
  background-color: var(--bs-gray-500);
  width: 100%;
  height: 70vh;
  position: relative;
}

.head-Dora {
  width: 200px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--bs-cyan);
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.face {
  background-color: #fff;
  width: 80%;
  height: 55%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0);
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
}

.eyse1 {
  position: absolute;
  background-color: #fff;
  width: 20%;
  height: 30%;
  border: 1px solid black;
  top: 25%;
  left: 30%;
  z-index: 1000;
}
.eyse2 {
  position: absolute;
  background-color: #fff;
  width: 20%;
  height: 30%;
  border: 1px solid black;
  top: 25%;
  left: 50%;
}

.eyse1::before {
  content: "";
  position: absolute;
  top: 35%;
  left: 55%;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #000;
  width: 20%;
  height: 30%;
}

.eyse1::after {
  content: "";
  position: absolute;
  top: 35%;
  left: 130%;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #000;
  width: 20%;
  height: 30%;
}

.nose {
  position: absolute;
  background-color: red;
  border: 2px solid black;
  border-radius: 50%;
  width: 10%;
  height: 10%;
  top: 50%;
  left: 45%;
}

.nose::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  top: 35%;
  left: 46%;
  background-color: #fff;
  border-radius: 50%;
}

.mouth {
  position: absolute;
  background-color: rgba(255, 0, 0, 0.552);
  width: 50%;
  height: 25%;
  top: 64%;
  left: 25%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
}

.mouth::before {
  content: "";
  position: absolute;
  background-color: orangered;
  width: 50%;
  height: 25%;
  top: 64%;
  left: 25%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
}

.whisker div {
  background-color: #000;
  width: 20%;
  height: 1px;
  position: absolute;
  top: 55%;
  left: 60%;
}

.whisker div:nth-child(1) {
  transform: skewY(-8deg);
}

.whisker div:nth-child(2) {
  top: 59%;
}

.whisker div:nth-child(3) {
  transform: skewY(8deg);
  top: 62%;
}

.whisker div:nth-child(1)::after {
  content: "";
  background-color: #000;
  width: 90%;
  height: 1px;
  position: absolute;
  transform: skewY(360deg);
  left: -198%;
}

.whisker div:nth-child(2)::after {
  content: "";
  background-color: #000;
  width: 90%;
  height: 1px;
  position: absolute;
  left: -198%;
}

.whisker div:nth-child(3)::after {
  content: "";
  background-color: #000;
  width: 90%;
  height: 1px;
  position: absolute;
  transform: skewY(-360deg);
  left: -198%;
}
